@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");

:root {
  /* Colors*/
  --colorActionButtons: #00b0d7;
  --colorNumberDarkButtons: #001b2f;
  --colorNumberLightButtons: #fff;
  --colorClearButton: #ff6060;
  --colorDark: #001b2f;
  --colorLight: #fff;
  --colorDisplayLight: #fafafa;
  --colorDisplayDark: #00223a;
  --colorActionPadLight: #e9f6ff;
  --colorActionPadDark: #001b2f;
  --borderRadiusActionPad: 20px;
  --borderRadiusCalculatorFrame: 20px;
  --buttonsSize: 64px;
}

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Dancing Script", cursive;
}
/*Calculator*/

.calculator_frame {
  --calculatorFrameWidth: 320px;
  width: var(--calculatorFrameWidth);
  border-radius: var(--borderRadiusCalculatorFrame);
  box-shadow: 8px 32px 64px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.calculator_display {
  padding: 20px 24px;
  padding-bottom: 44px;
  margin-bottom: -24px;
  background-color: var(--colorDisplayLight);
  text-align: right;
}
.calculator_history {
  font-size: 24px;
  font-weight: 400;
}

.calculator_history strong {
  font-weight: 700;
  color: var(--colorClearButton);
}
.calculator_total {
  font-size: 32px;
  font-weight: 700;
}
.calculator_buttons {
  padding: 16px;
  background-color: var(--colorActionPadLight);
  border-radius: var(--borderRadiusActionPad);
  font-size: 32px;
  color: var(--colorNumberDarkButtons);
  border-top: 1px yellow solid;
}

.calculator_row {
  display: flex;
  justify-content: space-between;
}
.calculator_col {
  width: var(--buttonsSize);
  height: var(--buttonsSize);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset rgba(255, 255, 255, 0.2) 8px 8px 18px 5px,
    inset rgba(0, 0, 0, 0.9) -8px -8px 18px 5px;
  border-radius: 20px;
  border: 1px yellow solid;
  margin: 5px;
}

.calculator_clearButton {
  color: var(--colorClearButton);
}

.calculator_actionButtons {
  color: var(--colorActionButtons);
}

.Hystory {
  font-size: 20px;
}

/*Calculator Dark Mode*/
.calculator_frameDark {
  color: var(--colorLight);
}

.calculator_frameDark .calculator_display {
  background-color: var(--colorDisplayDark);
}

.calculator_frameDark .calculator_buttons {
  background-color: var(--colorActionPadDark);
  color: var(--colorNumberLightButtons);
}
